:root {
  --orange: #f5913e;
  --grey: #e0e0e0;
  --screen-color: #858694;
  --touch-border-color: #c3c3c3;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: justify;
  font-size: 2.5rem;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 500;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header #logo {
  font-size: calc(40px + 2vmin);
  font-weight: bolder;
}

.App-header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.App-header nav li,
.App-header nav li a {
  list-style: none;
  color: white;
  text-decoration: none;
}

.App-header nav li a:hover {
  cursor: pointer;
  height: 100%;
  background-color: #ddd;
  color: black;
}

.App-header nav li a:active {
  background-color: #04aa6d;
  color: white;
}

#calculator-page {
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
  margin: 70px;
}

#calculator-page .page-left {
  width: 100%;
}

#calculator-page .page-right {
  width: 100%;
}

.home {
  margin: 60px;
}

.home h3 {
  margin-top: 50px;
  margin-bottom: 60px;
}

#calculator {
  height: 60vh;
  width: 60vw;
  display: flex;
  background: var(--touch-border-color);
  flex-direction: column;
  gap: 2px;
}

#calculator p {
  text-align: justify;
  text-justify: inter-word;
}

.quote {
  display: flex;
  margin: auto 50px;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.touch-row {
  width: auto;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  gap: 2px;
}

#screen {
  background-color: var(--screen-color);
  border: gray;
  flex: 1 1 auto;
  width: 100%;
  vertical-align: bottom;
  color: white;
  padding: 16px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

.touch {
  /* aspect-ratio: 7 / 4; */
  height: 100%;
  width: 100%;
  background: var(--grey);
  border: var(--touch-border-color);
}

.touch:hover {
  cursor: pointer;
}

.touch span {
  width: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}

.fn-col {
  background: var(--orange);
}

.bottom-line-item {
  width: 100%;
}

.bottom-line-item.right {
  display: flex;
  gap: 2px;
}
