:root {
  --orange: #f5913e;
  --grey: #e0e0e0;
  --screen-color: #858694;
  --touch-border-color: #c3c3c3;
}

.App {
  text-align: center;
  font-size: 2.5rem;
  color: aqua;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#calculator {
  height: 60vh;
  width: 60vw;
  display: flex;
  background: var(--touch-border-color);
  flex-direction: column;
  gap: 2px;
}

.touch-row {
  width: auto;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  gap: 2px;
}

#screen {
  background-color: var(--screen-color);
  border: gray;
  flex: 1 1 auto;
  width: 100%;
  vertical-align: bottom;
  color: white;
  padding: 16px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

.touch {
  /* aspect-ratio: 7 / 4; */
  height: 100%;
  width: 100%;
  background: var(--grey);
  border: var(--touch-border-color);
}

.touch span {
  width: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}

.fn-col {
  background: var(--orange);
}

.bottom-line-item {
  width: 100%;
}

.bottom-line-item.right {
  display: flex;
  gap: 2px;
}
